.artistCard {
  display: flex;
  align-items: center;
  gap: 1rem;
  min-width: 140px;
  background-color: var(--color-bg-card);
  border-radius: 10px;
  padding: 1rem;
  /* flex: 1; */
}

.artistAvatar {
  /* width: 100%; */
  object-fit: cover;
}

.artistName {
  text-align: center;
  font-weight: 600;
}

.artistFollowers {
  font-size: 0.85rem;
  color: var(--color-text-muted);
}
