.container{
     min-height: 100vh;  
    width: 100%;
    padding: 2rem 40px;
    margin-top: 2rem;
}

.library {
    /* min-height: 100vh;  
    width: 100%;
    padding: 40px; */
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #00ffa3;
    font-family: var(--prim-ORBITRON);
}

.nftGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    max-width: 1200px;
    width: 100%;
}
