.card {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
    margin-top: auto;
    width: 1000px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    /* justify-content: space-between; */
  }
  
  .image {
    width: 500px;
    height: auto;
    border-radius: 8px;
  }
  
  .details {
    /* margin-top: 15px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }
  
  .artist {
    color: #08f7fe;
  }
  
  .description {
    font-size: 20px;
    color: #ccc;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .buyButton {
    background: #08f7fe;
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .playButton {
    background: #1db954;
    color: white;
    padding: 10px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
  }
  