.stickySidebar {
  width: 20%;
  height: 100vh;
  background: linear-gradient(180deg, #0a0a0a, #1a1a1a);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  box-shadow: 4px 0px 10px rgba(0, 255, 163, 0.2);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

.logoContainer {
  display: flex;
  align-items: center;
  /* align-self: start; */
  gap: 10px;
  margin-bottom: 30px;
}

.logoContainer a {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap:  10px;
}

.headerIcon {
  font-size: 2rem;
  color: var(--prim-color);
}

.logoText {
  font-size: 22px;
  font-weight: bold;
  background: linear-gradient(90deg, #00ffa3, #00cc85);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.profileContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  align-self: start;
  padding-left: 10px;
}

.profileContainer img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.barContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.barContainer a {
  display: flex;
  gap: 10px;
  padding: 15px 20px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: bold;
  font-family: var(--prim-ORBITRON);
  /* transition: all 0.3s ease-in-out;
  border-left: 4px solid transparent; */
}

.barContainer a:hover {
  background: rgba(255, 255, 255, 0.1);
  border-left: 4px solid #00ffa3;
  color: white;
}

.active {
  background: rgba(255, 255, 255, 0.15);
  border-left: 4px solid #00ffa3;
  color: #00ffa3;
}

.icons{
  font-size: 24px;
  /* margin-left: 5px; */
  text-align: center;
  
}

.logoutButton {
  position: absolute;
  bottom: 100px;
  background: #00ffa3;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #16213e;
  cursor: pointer;
  transition: 0.3s;
}

.logoutButton:hover {
    background: #00ffcc;
}