.body {
  background-color: black;
  width: 80%;
  background-image: url("/assets/dreokt.jpg");
  background-size: 100% 550px;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: var(--prim-ROBOTO);
  color: var(--prim-color-2);
  padding-bottom: 10rem;
}

header {
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  padding: 2.75rem 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul,
.logoContainer a {
  display: flex;
  align-items: center;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  gap: 10px;
}

.headerIcon {
  font-size: 1.5rem;
}

.logoContainer a {
  color: var(--prim-color-2);
}

.logoContainer .logoText {
  font-family: var(--prim-CHAKRA);
  font-size: 1.75rem;
  font-weight: 700;
}

.articleContainer {
  width: 100%;
  padding: 1.5rem 0;
  overflow-x: hidden;
}

.articleContainer h1 {
  font-family: var(--prim-ORBITRON);
  font-size: 5rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 4px;
  margin-bottom: 4rem;
  text-align: center;
  animation: fadeInUp 1.2s ease-out forwards;
}

.articleContainer p {
  font-family: var(--prim-CHAKRA);
  width: 80%;
  margin: 0 auto;
  font-weight: 700;
  animation: fadeInUp 1.5s ease-out forwards;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 3rem;
}

.navLink button,
.button button {
  padding: 8px 15px;
}

.navLink button,
.button .rightButton {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.button .leftButton {
  border: none;
  text-decoration: none;
  color: var(--prim-color);
  background-color: var(--prim-color-2);
  padding: 0.5rem;
  font-weight: 600;
  cursor: pointer;
}

.mainBody {
  padding: 2rem;
}

/* .musicTrend {
  text-align: center;
  padding: 20px;
} */

.musicTrendTopBar{
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  font-family: var(--prim-ORBITRON);
}

.prevButton, .nextButton {
  border: none;
  background: #000;
  padding: 10px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.prevButton:hover, .nextButton:hover {
  background: #333;
}
.carouselContainer {
 width: 100%;
  cursor: pointer;
  overflow: hidden;
  padding: 2rem;
}

.musicGallery {
  display: grid;
  gap: 15px;
  justify-content: center;
   grid-template-columns: repeat(auto-fill, minmax(250px, max-content));
  gap: 2rem;
}

.musicGallery h4 {
  padding: .5rem 0;
}

.musicGallery p {
  margin-top: 10px;
}

.musicGallery a {
  color: white;
  cursor: pointer;
}

.musicGallery a:hover {
  color: var(--prim-color);
}

.musicGallery img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}


.controls {
  display: flex;
  justify-content: center;
  gap: 5px;
}






@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
