.body {
  width: 100%;
  background-image: url("/assets/dreokt.jpg");
  background-size: 100% 520px;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: var(--prim-ROBOTO);
  color: var(--prim-color-2);
}

header {
  height: 200px;
   background: linear-gradient(270deg, #601baa93, rgba(0, 0, 0, .5), #4a147398);
  background-size: 300% 100%;
   animation: gradientAnimation 8s ease infinite alternate;
  padding: 2.85rem 2rem;
}

.mainBody {
  padding: 0 2rem;
}

.footer{
 border-top: 2px solid rgba(255, 255, 255, 0.1);
  padding: 2rem;
}

.footerWrap {
      display: flex;
      justify-content: space-between;
    }

    .footerLhs{
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .footerWrap p{
      margin-top: 8px;
    }

.footerWrap a{
  border: none;
  text-decoration: none;
}

.footerWrap button{
  border: none;
    color: var(--prim-color-2);
  background-color: #075f3f;
  padding: 0.5rem;
  font-weight: 600;
  cursor: pointer;
}

.footerWrap button:hover {
 background-color: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.footer .footerIcon{
  font-size: 2.25rem;
  background-color: rgba(54, 51, 51, 0.5);
  padding: 8px;
  border-radius: 1rem;
}

.trendingContainer h2{
  font-size: 1.5rem;
  font-family: var(--prim-ORBITRON);
  margin-bottom: 20px;
}
.nftGrid{
  display: flex;
  gap: 20px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes gradientAnimation {
  0% { background-position: 0% 0; }
  100% { background-position: 100% 0; }
}